* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 755px;
}

.warp_login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(#B7F8DB, #50A7C2); */
    background-image: url("../img/img.png"); 
    background-repeat: no-repeat;
    background-size: 100%;

}

.login {
    width: 420px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}