<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="CÔNG TY CỔ PHẦN TRANG SỨC MỸ MÃN">
  <meta name="author" content="mansys">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-title" content="ECLO" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="theme-color" content="#2c7cfd" />
  <link rel="icon" type="image/png" href="/templates/backend/img/icons/152x152.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/templates/backend/img/icons/152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/templates/backend/img/icons/167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/templates/backend/img/icons/180x180.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/templates/backend/img/icons/192x192.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/templates/backend/img/icons/512x512.png">
  <link rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
    href="/templates/backend/img/icons/1242x2688.png">
  <!-- iPhone Xr (828px x 1792px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/828x1792.png">
  <!-- iPhone X, Xs (1125px x 2436px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
    href="/templates/backend/img/icons/1125x2436.png">
  <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
    href="/templates/backend/img/icons/1242x2208.png">
  <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/750x1334.png">
  <!-- iPad Pro 12.9" (2048px x 2732px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/2048x2732.png">
  <!-- iPad Pro 11” (1668px x 2388px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/1668x2388.png">
  <!-- iPad Pro 10.5" (1668px x 2224px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/1668x2224.png">
  <!-- iPad Mini, Air (1536px x 2048px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
    href="/templates/backend/img/icons/1536x2048.png">
  <link rel='manifest' href='/manifest.json'>
  <link rel="stylesheet" href="/templates/backend/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/templates/backend/assets/plugins/fontawesome/css/all.min.css" />
  <link href="/templates/backend/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/backend/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
  <link href="/templates/backend/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="/templates/backend/assets/css/style.css" rel="stylesheet">
  <script src="/templates/backend/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/templates/backend/assets/js/moment.min.js"></script>
  <script src="/templates/backend/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/templates/backend/assets/plugins/pjax/pjax.min.js"></script>
  <script src="/templates/backend/assets/plugins/sweetalert2/sweetalert2.all.min.js"></script>
  <script src="/templates/backend/assets/plugins/topbar/topbar.min.js"></script>
  <script src="/templates/backend/assets/plugins/select2/js/select2.full.min.js"></script>
  <script src="/templates/backend/assets/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/templates/backend/assets/plugins/apexcharts/apexcharts.min.js"></script>
  <script src="/templates/backend/assets/plugins/cleave/cleave.min.js"></script>
  <script src="/templates/backend/assets/plugins/webcam/webcam.min.js"></script>
  <script src="/templates/backend/assets/js/main.js"></script>
  <title>CÔNG TY CỔ PHẦN TRANG SỨC MỸ MÃN</title>
</head>

<body class="page  ">

  <article class="eclo-content js-Pjax d-print-none">
    <div class="js-Pjax-child">
      <div class="container-fluid pt-3 pb-5 pe-3 ps-3">
        <nav class="d-flex justify-content-between align-items-center" aria-label="breadcrumb">
          <div class="">
            <h4>Chi phí mua hàng</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Chi phí mua hàng</li>
            </ol>
          </div>
        </nav>
        <div class="card card-custom">
          <div class="card-body">
            <form method="GET" class="pjax-content mb-4">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Mã đơn hàng</label>
                    <div class="col-sm-12">
                      <input placeholder="Mã đơn hàng" type="text" name="code" value="" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Nhà cung cấp</label>
                    <div class="col-sm-12">
                      <select name="vendor" class="form-control select2" style="width: 100%;">
                        <option value="">Nhà cung cấp</option>
                        <option value="1">Eclo</option>
                        <option value="2">Cửa Hàng Tài</option>
                        <option value="3">Chị Loan Silicon </option>
                        <option value="5">Cửa hàng tuyết Hồng</option>
                        <option value="6">Công ty O.T.E.C</option>
                        <option value="7">Nhiêu Tâm Online</option>
                        <option value="8">Cụng cụ thợ bạc Vĩnh Phát</option>
                        <option value="9">Chiêu Thu </option>
                        <option value="10">Anh tích</option>
                        <option value="11">Anh Tân hội</option>
                        <option value="12">Công ty OLac</option>
                        <option value="13">Vĩnh Phát</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Từ ngày - Đến ngày</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control float-right daterange-select" name="date"
                        value="01/08/2022 - 17/08/2022">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Trạng thái</label>
                    <div class="col-sm-12">
                      <select name="status" class="select2 form-select" style="width:100%">
                        <option value="">Trạng thái</option>
                        <option value="1">Đã thanh toán</option>
                        <option value="2">Công nợ</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Tài khoản</label>
                    <div class="col-sm-12">
                      <select name="user" class="form-control select2" style="width: 100%;">
                        <option value="">Tài khoản</option>
                        <option value="1">Jatbi</option>
                        <option value="2">Quản Trị Viên</option>
                        <option value="4">Trần minh Tâm</option>
                        <option value="5">Hai pha</option>
                        <option value="6">Ban Giám Đốc</option>
                        <option value="7">Phuongnguyen</option>
                        <option value="8">lehoang</option>
                        <option value="9">Lê huỳnh Triệu Vy</option>
                        <option value="10">Nguyễn Quang Vinh</option>
                        <option value="11">Lê Nguyễn Thủy Tiên</option>
                        <option value="12">Nguyễn Hữu Tuấn</option>
                        <option value="13">Phạm Công Trường</option>
                        <option value="14">Lê Thị Thanh Thủy</option>
                        <option value="15">Lê Nguyễn Thanh Vy</option>
                        <option value="16">Hoa Admin</option>
                        <option value="17">Bùi Thị Kiều Xuân Trang</option>
                        <option value="18">Lâm Dịch Long</option>
                        <option value="19">Ngô Tấn Duy</option>
                        <option value="20">Đinh Tấn Sang</option>
                        <option value="21">Huỳnh Tấn Đạt</option>
                        <option value="22">Lò Triều Minh Hiếu</option>
                        <option value="23">Ngô Tấn An</option>
                        <option value="26">sang</option>
                        <option value="27">duy</option>
                        <option value="28">DUY</option>
                        <option value="29">tu123</option>
                        <option value="30">nho</option>
                        <option value="31">loc</option>
                        <option value="32">trung</option>
                        <option value="33">tien123</option>
                        <option value="34">tien</option>
                        <option value="35">thang</option>
                        <option value="36">vu123</option>
                        <option value="37">anh</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><br></label>
                    <div class="col-sm-12">
                      <button class="btn btn-primary"><i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="pjax-content-load">
              <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                  <thead>
                    <tr>
                      <th class="align-middle">Mã đơn hàng</th>
                      <th class="align-middle">Nhà cung cấp</th>
                      <th class="align-middle">Tổng tiền</th>
                      <th class="align-middle">Giảm trừ</th>
                      <th class="align-middle">Giảm giá</th>
                      <th class="align-middle">Phụ thu</th>
                      <th class="align-middle">Thanh toán</th>
                      <th class="align-middle">Đã thanh toán</th>
                      <th class="align-middle">Còn lại</th>
                      <th class="align-middle">Trạng thái</th>
                      <th class="align-middle">Ngày</th>
                      <th class="align-middle">Tài khoản</th>
                      <th width="2%"></th>
                    </tr>
                    <tr class="bg-warning bg-opacity-25">
                      <td colspan="2" class="text-end fw-bold">Đầu kỳ</td>
                      <td class="fw-bold text-primary">4,482,919,820</td>
                      <td class="fw-bold text-info">651,160,000</td>
                      <td class="fw-bold text-info">0</td>
                      <td class="fw-bold text-info">0</td>
                      <td class="fw-bold text-success">3,829,769,820</td>
                      <td class="fw-bold text-warning">1,811,040,500</td>
                      <td class="fw-bold text-danger">2,018,729,320</td>
                      <td colspan="100"></td>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr class="bg-success bg-opacity-25">
                      <td colspan="2" class="text-end fw-bold">Tổng cộng</td>
                      <td class="fw-bold text-primary">0</td>
                      <td class="fw-bold text-info">0</td>
                      <td class="fw-bold text-info">0</td>
                      <td class="fw-bold text-info">0</td>
                      <td class="fw-bold text-success">0</td>
                      <td class="fw-bold text-warning">0</td>
                      <td class="fw-bold text-danger">0</td>
                      <td colspan="100"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <nav class="d-flex justify-content-between align-items-center paginations" aria-label="Page navigation">
                <ul class="pagination"></ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="dropdown">
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="getpage"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      10
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="getpage">
                      <li><a class="dropdown-item page-row btn" data-row="10">10</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="50">50</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="100">100</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="150">150</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="200">200</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="250">250</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="300">300</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="350">350</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="400">400</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="450">450</a></li>
                      <li><a class="dropdown-item page-row btn" data-row="500">500</a></li>
                    </ul>
                  </div>
                  <span class="text-dark ms-3 d-none d-md-block">Hiển thị 1 - 10 Của tổng 0</span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</body>

</html>